
.centrar {
    height: 350px;
    background-image: url(imagenes/arriba1.png);/*con este tipo de estipo 'background-image' me ayuda a localizar en donde esta apartada la imagen que deseo añadir*/
    background-repeat: no-repeat;/*con el 'background-repeat' me da la opcion de no-repeat que hace que no se repita la imagen y se vea mejor */
    background-size: cover;/*con este permite que la imagen pueda asegurarse en cubrir todo el contenedor*/
    background-attachment: fixed;
    margin: auto;
    color: white;
    text-align: center;
    font-family: 'martin demo';/*utiliza una tipo de tipografia especifica sacada de la pagina 'dafont'*/
    font-size: 100px;
    padding: 30px 0 0 0;
}

p.opciones {
    font-size: 30px;
    margin: 0;
}

button {
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    margin:0 10px;
    white-space: nowrap;/*evita que los botones se envuelvan al ajustar la pestaña mas pequeña*/
    transition: color 0.3s;/*cuando el puntero este sobre el boton despues de 3 segundos*/
}
button:hover {
    color: black; /* Cambiamos el color del texto cuando el puntero está sobre el botón */
}
hr {
    margin: 20px 0;
    color: white;
}
p.nosotros{
    font-family: cralika;
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
}
.primeros {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.lentes {
    width: 300px;
    margin: auto;
}

.segundos {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.lentes1 {

    width: 300px;
    margin:  auto;
}
.row{
    margin-inline: 0px;
}
body{
    padding: 0px;
    margin: 0px;
}
.bloque{
    height: 1200px;
    background-image: url(imagenes/arriba-.jpg);
    background-attachment: fixed;
    margin-top:150px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    
}
.contenedor {
    text-align: center; /* Centra el contenido del contenedor */
    font-family: cralika;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    white-space: nowrap;
}


.añadir-carrito {
    margin-top: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    transition: color 0.3s, border-color 0.3s; /* Transición para cambio de color de texto y borde */
}

.añadir-carrito:hover {
    color: black; /* Cambio de color de texto al pasar el puntero */
    border-color: black; /* Cambio de color del borde al pasar el puntero */
}
.redes{
    font-family: cralika;
    text-align: center;
    font-size: 25px;
    margin-top: 150px; 
}
.socialmedia {
    display: flex;
    justify-content: space-around;
    width: 200px; /* Ancho aumentado para mayor espacio entre los íconos */
    margin: auto;
}

.socialmedia-item {
    width: 40px;
    height: 40px;
    margin-inline: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 80px;
}

.facebook {
    background: url(imagenes/facebook.png) no-repeat center/cover;
}

.instagram {
    background: url(imagenes/instagram.png) no-repeat center/cover;
}

.tiktok {
    background: url(imagenes/tik-tok.png) no-repeat center/cover;
}





